{% extends "app_core/base.html" %}

{% load static %}

{% block head_title %}{{ block.super }} Privacy{% endblock head_title %}

{% block extra_styles %}
<style>
    .custom_service {
        max-width: 100%; /* Ajusta el ancho máximo del contenedor al ancho del dispositivo */
        height: auto; /* Ajusta la altura automáticamente para mantener la relación de aspecto */
        overflow: hidden; /* Oculta cualquier parte de la imagen que se desborde del contenedor */
        max-width: 620px; /* Ancho máximo del contenedor */
    }

    .custom_service img {
        width: 100%; /* Ajusta el ancho de la imagen al ancho del contenedor */
        height: auto; /* Ajusta la altura automáticamente para mantener la relación de aspecto */
        max-width: 620px; /* Ancho máximo de la imagen */
        max-height: 620px; /* Altura máxima de la imagen */
        object-fit: cover; /* Mantiene la relación de aspecto original y cubre el contenedor */
    }
</style>
{% endblock extra_styles %}

{% block content %}

<!-- start Banner Privacy -->
    {% include 'app_core/snippets/banner_privacy.html' %}
<!-- end Banner Privacy -->

<!-- start Privacy -->
    {% include 'app_core/snippets/privacy_section.html' %}
<!-- end Privacy -->

<!-- start Services -->
    {% include 'app_core/snippets/services3.html' %}
<!-- end Services -->

<!-- start Social Media -->
    {% include 'app_core/snippets/social_media.html' %}
<!-- end Social Media -->

{% endblock content %}

{% block extra_javascript %}
<script>
    // Seleccionar todos los elementos con la clase "custom_list"
    const customListElements = document.querySelectorAll('.custom_list');

    // Iterar sobre cada elemento con la clase "custom_list"
    customListElements.forEach((element) => {
        // Seleccionar los elementos <ul> dentro del elemento actual con la clase "custom_list"
        const ulElements = element.querySelectorAll('ul');

        // Iterar sobre cada elemento <ul>
        ulElements.forEach((ul) => {
            // Agregar la clase deseada al elemento <ul>
            ul.classList.add('check-lists', 'check-lists3', 'check-single');
        });
    });
</script>
{% endblock extra_javascript %}