{% load static %}

<!-- About Start -->
<div class="rs-about about-style2 pt-120 pb-150 md-pt-105 md-pb-80">
    <div class="container">
        <div class="row y-middle">
            <div class="col-lg-6 md-mb-50">
                <div class="widget-img">
                    <img src="{% static 'app_core/assets/images/about/style6/about-6.png' %}" alt="About">
                    <div class="multi-img wow fadeinup">
                        <img src="{% static 'app_core/assets/images/about/style6/shape-1.png' %}" alt="">
                    </div>
                </div>
            </div>
            <div class="col-lg-6 pl-70 md-pl-15">
                <div class="sec-title mb-45 md-mb-25">
                    <span class="sub-text sub-text5">About Us</span>
                    <h2 class="title pb-20">
                        Reliable and high-quality roofing services
                    </h2>
                    <p class="desc">
                        {{about.about|safe}}
                    </p>
                </div>
                <!-- Services Start -->
                <div class="rs-services services-style19 pt-30 pb-40">
                    <div class="row">
                        <div class="col-lg-6 md-mb-30">
                            <div class="services-item">
                                <div class="services-icon">
                                    <img src="{% static 'app_core/assets/images/about/style5/ser1.png' %}" alt="Images">
                                </div>
                                <div class="services-text">
                                    <h4 class="title">Hard Work</h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="services-item">
                                <div class="services-icon">
                                    <img src="{% static 'app_core/assets/images/about/style5/ser2.png' %}" alt="Images">
                                </div>
                                <div class="services-text">
                                    <h4 class="title">Integrity</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Services End -->
                <div class="row y-middle">
                    <div class="col-lg-5 col-sm-5 xs-mb-30">
                        <div class="btn-part">
                            <a class="readon blue-btn know-more" href="{% url 'app_core:about' %}">Know More</a>
                        </div>
                    </div>
                    <div class="col-lg-7 col-sm-6 pl-30 md-pl-15">
                        <div class="rs-addon-services">
                            <div class="services-icon">
                                <i class="fa fa fa-phone"></i>
                            </div>
                            <div class="services-text">
                                <h4 class="title"> Contact Us!</h4>
                                <p class="services-txt">  {{contact.phone1}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About End -->