{% load static %}

<!-- About Start -->
<div class="rs-about about-style2 pt-120 pb-150 md-pt-80 md-pb-80">
    <div class="container">
        <div class="row y-middle">
            <div class="col-lg-6 md-mb-50">
                <div class="widget-img">
                    <img src="{% static 'app_core/assets/images/about/style3/about-6.png' %}" alt="About">
                    <div class="multi-img wow fadeinup">
                        <img src="{% static 'app_core/assets/images/about/style3/shape-1.png' %}" alt="">
                    </div>
                </div>
            </div>
            <div class="col-lg-6 pl-70 md-pl-15">
                <div class="sec-title mb-45 md-mb-25">
                    <span class="sub-text sub-text5">About Us</span>
                    <h2 class="title pb-20">
                        Best plumber services that you can trust
                    </h2>
                    <p class="desc">Leverage agile frameworks to provide a robust synopsis for high level overviews. Iterative approaches to corporate strategy data foster to collaborative thinking to empowerment.</p>
                </div>
                <!-- Counter Section Start -->
                <div id="rs-counter" class="rs-counter counter-style3 pb-50 md-pb-35">
                    <div class="row">
                        <div class="col-lg-5 col-sm-5 xs-mb-30">
                            <div class="rs-counter-list">
                                <div class="counter-right-border"></div>       
                                <div class="count-text">
                                    <div class="count-number">
                                        <span class="rs-count">552</span>
                                        <span class="prefix">+</span>			    	
                                    </div>
                                    <span class="title">Happy Customers</span>	
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-7 col-sm-6">
                            <div class="rs-counter-list widget-padding">       
                                <div class="count-text">
                                    <div class="count-number">
                                        <span class="rs-count">652</span>
                                        <span class="prefix">k</span>			    	
                                    </div>
                                    <span class="title">Completed Cases</span>	
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Counter Section End -->
                <div class="row y-middle">
                    <div class="col-lg-5 col-sm-5 xs-mb-30">
                        <div class="btn-part">
                            <a class="readon blue-btn know-more" href="about.html">Know More</a>
                        </div>
                    </div>
                    <div class="col-lg-7 col-sm-6 pl-30 md-pl-15">
                        <div class="rs-addon-services">
                            <div class="services-icon">
                                <i class="fa fa fa-phone"></i>
                            </div>
                            <div class="services-text">
                                <h4 class="title"> Emergency Services</h4>
                                <p class="services-txt">  (+088) 589-8745</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About End -->