{% load static %}

<!-- Banner Start -->
<div class="rs-banner banner-style2">
    <div class="banner-background"> <!-- Nuevo contenedor para la imagen de fondo -->
        <div class="container">
            <div class="content-wrap">
                <h1 class="title wow fadeInDown">
                    We Are Best Builders<br>
                    In The World
                </h1>
                <div class="description wow">
                    <p>
                        We are one of the leading end-to-end engineering services and solutions company<br>
                        offering business value across the product lifecycle.
                    </p>  
                </div>
                <div class="banner-btn mt-40 wow fadeInUp">
                    <a class="readon blue-btn orange-more1" href="contact.html">Discover More<i class="fa fi fi-rr-arrow-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Banner End -->

<!-- Services Start -->
<div class="rs-services services-style2 md-pb-0">
    <div class="container">
        <div class="row no-gutters">
            <div class="col-lg-4">
                <div class="services-box">
                    <div class="services-icon">
                        <a href="general-construction.html">
                            <img class="dance_hover" src="{% static 'app_core/assets/images/services/style2/1.png' %}" alt="Images">
                        </a>
                    </div>
                    <div class="services-content">
                        <h3 class="title"><a href="general-construction.html">Sustainable System</a></h3>
                        <p class="services-txt">  
                            Leverage agile frameworks to provide a robust synopsis for high 
                            level overviews iterative approaches to corporate.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="services-box services-yellow-box">
                    <div class="services-icon">
                        <a href="project-managment.html">
                            <img class="dance_hover" src="{% static 'app_core/assets/images/services/style2/2.png' %}" alt="Images">
                        </a>
                    </div>
                    <div class="services-content">
                        <h3 class="title"><a href="project-managment.html">Quality Services</a></h3>
                        <p class="services-txt">  
                            Leverage agile frameworks to provide a robust synopsis for high 
                            level overviews iterative approaches to corporate.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="services-box">
                    <div class="services-icon">
                        <a href="preconstruction">
                            <img class="dance_hover" src="{% static 'app_core/assets/images/services/style2/3.png' %}" alt="Images">
                        </a>
                    </div>
                    <div class="services-content">
                        <h3 class="title"><a href="preconstruction">Remodeling Experts</a></h3>
                        <p class="services-txt">  
                            Leverage agile frameworks to provide a robust synopsis for high 
                            level overviews iterative approaches to corporate.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Services End -->