{% load static %}

<!-- Slider Start -->
<div id="rs-slider" class="rs-slider slider-style7">
    <div class="banner-background">
        <div class="slider-carousel3 owl-carousel">
            <!-- Slide 1 -->
            <div class="slider slide1">
                <div class="container">
                    <div class="row y-middle">
                        <div class="col-lg-6 md-mb-50">
                            <div class="image-part">
                                <img src="{% static 'app_core/assets/images/slider/style2/slide-image1.png' %}" alt="">
                            </div>
                        </div>
                        <div class="col-lg-6 pl-60 md-pl-15">
                            <div class="content-part">
                                <div class="slider-des">
                                    <span class="sl-sub-title">Carpenter Services</span>
                                    <h1 class="sl-title">Best Carpenter</h1>
                                    <h2 class="sl-title-small">working services</h2>
                                    <p class="sl-desc">Leverage agile frameworks to provide a robust synopsis for high level over approaches to corporate strategy.</p>
                                </div>
                                <div class="slider-bottom">
                                    <a class="readon orange-btn" href="contact.html">Discover More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Slider End -->