{% load static %}

<!-- Banner Start -->
<div id="rs-banner" class="rs-banner banner-style1">
    <div class="container">
        <div class="row y-middle">
            <div class="col-lg-7">
                <div class="content-wrap">
                    <span class="sub-text">Plumber Construction</span>
                    <h1 class="title">
                        Looking for trusted plumber services
                    </h1>
                    <div class="description">
                        <p>
                            Leverage agile frameworks to provide a robust synopsis for high level over<br>
                            views. Iterative approaches to corporate strategy.
                         </p>  
                    </div>
                    <div class="banner-btn mt-40">
                        <a class="readon blue-btn" href="contact.html">Discover More</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 pl-86 md-pl-15 md-pb-140 sm-pb-130 xs-pb-115">
                <div class="get-quote-widget">
                    <div class="title-heading">        		      		
                        <h3 class="title">Get Quick Quote</h3>				
                    </div>
                    <div class="contact-wrap">
                        <div id="form-messages"></div>
                        <form id="contact-form" method="post" action="mailer.php">
                            <fieldset>
                                <div class="row">
                                    <div class="col-lg-12 mb-25">
                                        <input class="from-control" type="text" id="name" name="name" placeholder="Name" required="">
                                    </div> 
                                    <div class="col-lg-12 mb-25">
                                        <input class="from-control" type="text" id="email" name="email" placeholder="E-Mail" required="">
                                    </div>   
                                    <div class="col-lg-12 mb-25">
                                        <input class="from-control" type="text" id="phone" name="phone" placeholder="Phone Number" required="">
                                    </div> 
                                    <div class="col-lg-12">
                                        <textarea class="from-control" id="message" name="message" placeholder="Your Message Here" required=""></textarea>
                                    </div>
                                </div>
                                <div class="form-button">
                                    <p class="submit-form">
                                        <input class="submit" type="submit" value="Submit Now">
                                    </p>
                                </div>
                            </fieldset>
                        </form> 
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Banner End -->