{% load static %}

<!-- Slider Start -->
<div class="rs-slider slider-style3">
    <div class="slider slider-slide-1">
        <div class="slider-item">
            <div class="container custom13">
                <div class="slider-inner">
                    <div class="content-part text-center">
                        <span class="sl-subtitle wow fadeInDown">Welcome To Konstruk</span>
                        <h1 class="sl-title wow fadeInLeft">
                            Best Solution For<br>
                            Construction
                        </h1>
                           <div class="slider-bottom wow fadeinup">
                               <a class="readon more read2" href="contact.html">Read More</a>
                           </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="slider-item slide-bg2">
            <div class="container custom13">
                <div class="slider-inner">
                    <div class="content-part text-center">
                        <span class="sl-subtitle wow fadeInDown">Building & Construction</span>
                        <h1 class="sl-title wow fadeInLeft">
                            Construction services<br>
                            in new york city 	
                        </h1>
                           <div class="slider-bottom wow fadeinup">
                               <a class="readon more read2" href="contact.html">Read More</a>
                           </div>
                    </div>
                </div>
            </div>
        </div> -->
    </div>
</div>
<!-- Slider End -->

<!-- Services Start -->
<div class="rs-services services-style2 pb-120 md-pb-0">
    <div class="container">
        <div class="row no-gutters">
            <div class="col-lg-4">
                <div class="services-box">
                    <div class="services-icon">
                        <a href="general-construction.html">
                            <img class="dance_hover" src="{% static 'app_core/assets/images/services/style2/1.png' %}" alt="Images">
                        </a>
                    </div>
                    <div class="services-content">
                        <h3 class="title"><a href="general-construction.html">Sustainable System</a></h3>
                        <p class="services-txt">  
                            Leverage agile frameworks to provide a robust synopsis for high 
                            level overviews iterative approaches to corporate.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="services-box services-yellow-box">
                    <div class="services-icon">
                        <a href="project-managment.html">
                            <img class="dance_hover" src="{% static 'app_core/assets/images/services/style2/2.png' %}" alt="Images">
                        </a>
                    </div>
                    <div class="services-content">
                        <h3 class="title"><a href="project-managment.html">Quality Services</a></h3>
                        <p class="services-txt">  
                            Leverage agile frameworks to provide a robust synopsis for high 
                            level overviews iterative approaches to corporate.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="services-box">
                    <div class="services-icon">
                        <a href="preconstruction">
                            <img class="dance_hover" src="{% static 'app_core/assets/images/services/style2/3.png' %}" alt="Images">
                        </a>
                    </div>
                    <div class="services-content">
                        <h3 class="title"><a href="preconstruction">Remodeling Experts</a></h3>
                        <p class="services-txt">  
                            Leverage agile frameworks to provide a robust synopsis for high 
                            level overviews iterative approaches to corporate.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Services End -->