{% load static %}


<!-- Contact Icons Section End -->
<div class="rs-contact contact-style6 md-pb-80">
    <div class="rs-contact pt-120 md-pt-80">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 md-mb-30">
                <div class="contact-box">
                    <div class="contact-icon">
                        <img src="{% static 'app_core/assets/images/contact/style1/icons/1.png' %}" alt="images">
                    </div>
                    <div class="content-text">
                        <h4 class="title"><a href="#">Office address</a></h4>
                        <p class="services-txt"> Ta-134/A, Gulshan Badda<br> Link Rd, Dhaka </p>
                    </div>
                </div>
                </div>
                <div class="col-lg-4 col-md-6 sm-mb-30">
                <div class="contact-box">
                    <div class="contact-icon">
                        <img src="{% static 'app_core/assets/images/contact/style1/icons/2.png' %}" alt="images">
                    </div>
                    <div class="content-text">
                        <h4 class="title"><a href="#">Email us</a></h4>
                        <span><a href="mailto:support@devsdesign.net">support@devsdesign.net</a></span><br>
                        <span><a href="mailto:info@codesless.com">info@codesless.com</a></span>
                    </div>
                </div>
                </div>
                <div class="col-lg-4 col-md-6">
                <div class="contact-box">
                    <div class="contact-icon">
                        <img src="{% static 'app_core/assets/images/contact/style1/icons/3.png' %}" alt="images">
                    </div>
                    <div class="content-text">
                        <h4 class="title"><a href="#">Call us</a></h4>
                        <span><a href="tel:(+088)589-8745">(+088)589-8745</a></span><br>
                            <span> <a href="tel:(+088)222-9999">(+088)222-9999</a></span>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Contact Icons Section End -->

<!-- Contact Section Start -->
<div class="rs-contact contact-style1 contact-modify1 pt-120 pb-120 md-pt-80 md-pb-80">
    <div class="container">
        <div class="row y-middle">
            <div class="col-lg-6">
                <div class="project-img">
                    <img src="{% static 'app_core/assets/images/contact/contact_section.webp' %}" alt="Contact">
                </div>
            </div>
            <div class="col-lg-6">
             <div class="contact-section">
                 <div class="contact-wrap">
                     <div class="sec-title2 mb-55 md-mb-35">
                         <span class="sub-title">Contact Us</span>
                         <h2 class="title pb-25">
                            Have an upcoming project?
                         </h2>
                         <div class="heading-border-line left-style"></div>
                     </div>
                     <div id="form-messages"></div>
                     <form id="contact-form" method="post">
                         <fieldset>
                             <div class="row">
                                 <div class="col-lg-6 col-md-6 col-sm-6 mb-30">
                                     <input class="from-control" type="text" id="name" name="name" placeholder="Name" required="">
                                 </div> 
                                 <div class="col-lg-6 col-md-6 col-sm-6 mb-30">
                                     <input class="from-control" type="text" id="email" name="email" placeholder="E-Mail" required="">
                                 </div>   
                                 <div class="col-lg-6 col-md-6 col-sm-6 mb-30">
                                     <input class="from-control" type="text" id="phone" name="phone" placeholder="Phone Number" required="">
                                 </div>
                                 <div class="col-lg-6 col-md-6 col-sm-6 mb-30">
                                     <input class="from-control" type="text" id="website" name="website" placeholder="Your Website" required="">
                                 </div>
                                 <div class="col-lg-12 mb-30">
                                     <textarea class="from-control" id="message" name="message" placeholder="Your Message Here" required=""></textarea>
                                 </div>
                             </div>
                             <div class="btn-part">                                            
                                 <div class="form-group mb-0">
                                     <input class="readon more submit submit-new blue-btn" type="submit" value="Submit Now" style="color: white;">
                                 </div>
                             </div> 
                         </fieldset>
                     </form> 
                 </div>
             </div>
            </div>
        </div>
    </div>
</div>
<!-- Contact Section End -->

<div id="map"></div>