{% load static %}

<!-- Process Section Start -->
<div class="rs-process process-style1 bg16 pt-120 pb-115 md-pt-80 md-pb-75">
    <div class="container">
        <div class="sec-title text-center mb-45">
            <span class="sub-text sub-text5 white-color">How We Work</span>
            <h2 class="title white-color">
                Our works process for you
            </h2>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 md-mb-30">
                <div class="services-item">
                    <div class="services-icon">
                        <img src="{% static 'app_core/assets/images/process/style1/1.png' %}" alt="Images">
                    </div>
                    <div class="content-text">
                        <h4 class="title">Online Booking</h4>
                        <p class="services-txt">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis at dictum.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 sm-mb-30">
                <div class="services-item">
                    <div class="services-icon blue-icon-bg">
                        <img src="{% static 'app_core/assets/images/process/style1/2.png' %}" alt="Images">
                    </div>
                    <div class="content-text">
                        <h4 class="title">We Arrive Fast</h4>
                        <p class="services-txt">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis at dictum.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="services-item">
                    <div class="services-icon">
                        <img src="{% static 'app_core/assets/images/process/style1/3.png' %}" alt="Images">
                    </div>
                    <div class="content-text">
                        <h4 class="title">Solveing Problem</h4>
                        <p class="services-txt">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis at dictum.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="rs-arrow-animate">
        <div class="arrow-style one">
            <img src="{% static 'app_core/assets/images/process/style1/arrow-icon.png' %}" alt="Images">
        </div>
        <div class="arrow-style two">
            <img src="{% static 'app_core/assets/images/process/style1/arrow-icon.png' %}" alt="Images">
        </div>
    </div>
</div>
<!-- Process Section End -->