{% load static %}

<!-- Services Start -->
<div id="rs-services" class="rs-services services-style18 services-modify1 gray-bg11 pt-115 pb-120 md-pt-75 md-pb-80">
    <div class="container">
        <div class="sec-title text-center mb-45">
            <span class="sub-text sub-text12">About Us</span>
            <h2 class="title title5 white-color">
                Institutional
            </h2>
        </div>
        <div class="row y-middle">
            
            <div class="col-xl-6 col-md-12 xl-mb-30">
                <div class="services-item">
                    <div class="services-icon">
                        <img src="{% static 'app_core/assets/images/services/style16/orange-icons/ser-icon1.png' %}" alt="Images">
                    </div>
                    <div class="services-text">
                        <h3 class="title">Mission</h3>
                        <p class="services-txt">
                            {{about.mision|safe}}
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-xl-6 col-md-12 xl-mb-30">
                <div class="services-item">
                    <div class="services-icon">
                        <img src="{% static 'app_core/assets/images/services/style16/orange-icons/ser-icon2.png' %}" alt="Images">
                    </div>
                    <div class="services-text">
                        <h3 class="title">Vision</h3>
                        <p class="services-txt">
                            {{about.vision|safe}}
                        </p>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>
<!-- Services End -->