{% load static %}

<!-- Partner Start -->
<div class="rs-partner partner-main-home partner-modify5">
    <div class="partner-background-overlay"></div>				
    <div class="container">               
        <div class="partner-content-widget">
            <div class="rs-carousel owl-carousel" 
                data-loop="true" 
                data-items="5" 
                data-margin="30" 
                data-autoplay="true" 
                data-hoverpause="true" 
                data-autoplay-timeout="5000" 
                data-smart-speed="800" 
                data-dots="false" 
                data-nav="false" 
                data-nav-speed="false" 

                data-md-device="5" 
                data-md-device-nav="false" 
                data-md-device-dots="false" 
                data-center-mode="false"

                data-ipad-device2="4" 
                data-ipad-device-nav2="false" 
                data-ipad-device-dots2="false"

                data-ipad-device="4" 
                data-ipad-device-nav="false" 
                data-ipad-device-dots="false" 

                data-mobile-device="2" 
                data-mobile-device-nav="false" 
                data-mobile-device-dots="false">  
                
                {% for partner in partners %}
                    {% if partner.url %}
                        <div class="logo-img">
                            <a href="{{partner.url}}">
                                <img src="{{partner.image.url}}" title="" alt="">
                            </a>
                        </div>
                    {% else %}
                        <div class="logo-img">
                            <a href="javascript:;">
                                <img src="{{partner.image.url}}" title="" alt="">
                            </a>
                        </div>
                    {% endif %}
                {% endfor %}
                    
                
                
            </div>
        </div>
    </div>
</div>
<!-- Partner End -->