{% load static %}

<!-- Project Section Start -->
<div class="rs-project project-style4 pt-105 pb-120 md-pt-80 md-pb-80">
    <div class="container">
        <div class="sec-title text-center mb-35 md-mb-25">
            <span class="sub-text sub-text5">Latest Project</span>
            <h2 class="title">
                Our latest completed projects.
            </h2>
        </div>
        <div class="gridFilter mb-50 md-mb-30 text-center">
            <button class="active" data-filter="*">All</button>
            <button data-filter=".filter1">Bathroom</button>
            <button data-filter=".filter2">Gas Line</button>
            <button data-filter=".filter3">Kitchen</button>
            <button data-filter=".filter4">Water Line</button>
        </div>                    
        <div class="row grid">
            {% for gallery in works %}
                <div class="col-lg-4 col-md-6 mb-30 grid-item filter1 filter2">
                    <div class="project-item">
                        <div class="project-img">
                            <img src="{{gallery.image.url}}" alt="images">
                        </div>
                        <div class="project-content"> 
                            <div class="project-inner">
                                <span class="category"><a href="projects-single.html">Kitchen</a></span>
                                <h3 class="title"><a href="projects-single.html">Clogged Drains</a></h3>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
<!-- Project Section End -->