{% load static %}

<!-- Project Details Section Start -->
<div class="rs-project-details pt-70 md-pt-80">
    <div class="container">

        <div class="sec-title text-center mb-45">
            <span class="sub-text sub-text5">Terms</span>
            <h2 class="title">
                Privacy Policies
            </h2>
        </div>
        <div class="project-txt mb-50">
            <div class="desc custom_list">
                {{privacy.description|safe}}
            </div>
        </div>
        
    </div>
</div>
<!-- Project Details Section End -->