{% load static %}

<!-- Project Details Section Start -->
<div class="rs-project-details pt-70 md-pt-80">
    <div class="container">
        <div class="sec-title text-center mb-45">
            <span class="sub-text sub-text5">Terms</span>
            <h2 class="title">
                Privacy Policies
            </h2>
        </div>
        <div class="project-txt mb-30">
            <div class="desc">
                European languages are members of the same family. The languages only differ in their grammar, their pronu nciation and their most common words. pronunciation and more common words. If several languages coalesce. over the years, sometimes by accident, sometimes on purpose. Over the years, sometimes by accident, sometimes on purpose. European languages are members of the same family.  
            </div>
        </div>
        <div class="project-txt mb-50">
            <div class="desc">
                The languages only differ in their grammar, their pronu nciation and their most common words. pronunciation and more common words. If several languages coalesce. nciation and their most common words. pronunciation and more common words.
            </div>
        </div>
        
    </div>
</div>
<!-- Project Details Section End -->