{% load static %}

<!-- Choose Start -->
<div class="rs-choose choose-style4">
    <div class="row">
        <div class="col-lg-6">
            <div class="rs-choose-content">
                <div class="sec-title mb-45">
                    <span class="sub-text sub-text5">Why Choose Us</span>
                    <h2 class="title">
                        The perfect solution for Plumber Services
                    </h2>
                </div>
                <div class="rs-addon-services mb-38">
                    <div class="services-icon">
                        <img src="{% static 'app_core/assets/images/choose/style2/icons/1.png' %}" alt="Icons">
                    </div>
                    <div class="services-text">
                        <h4 class="title"> Guaranteed Works</h4>
                        <p class="services-txt">  Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur proident.</p>
                    </div>
                </div>
                <div class="rs-addon-services mb-38">
                    <div class="services-icon">
                        <img src="{% static 'app_core/assets/images/choose/style2/icons/2.png' %}" alt="Icons">
                    </div>
                    <div class="services-text">
                        <h4 class="title">Fast Services</h4>
                        <p class="services-txt">  Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur proident.</p>
                    </div>
                </div>
                <div class="rs-addon-services">
                    <div class="services-icon">
                        <img src="{% static 'app_core/assets/images/choose/style2/icons/3.png' %}" alt="Icons">
                    </div>
                    <div class="services-text">
                        <h4 class="title">24/7 Emergency Support</h4>
                        <p class="services-txt">  Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur proident.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 video-item">
            <div class="rs-videos blue-videos">
                <div class="animate-border">
                    <a class="popup-border popup-videos" href="https://www.youtube.com/watch?v=FMvA5fyZ338">
                        <i class="fa fa-play"></i>
                    </a>
                </div>    
            </div>
        </div>
    </div>
</div>
<!-- Choose End -->