{% load static %}

<!-- Blog Section Start -->
<div class="rs-inner-blog pt-120 md-pt-80" id="servicios">
    <div class="container">
        <div class="sec-title text-center mb-45">
            <span class="sub-text sub-text5">Explore Our Expertise</span>
            <h2 class="title">
                Our Services
            </h2>
        </div>
        <div class="row">
            <div class="col-lg-12 md-mb-50">
                <div class="row">
                    {% for service in servicios %}
                    <div class="col-lg-12 mb-50">
                        <div class="blog-item">
                            <div class="blog-img custom_service">
                                <a href="{% url 'app_core:services_view' service.id %}">
                                    <img src="{{service.image.url}}" alt="">
                                </a>
                            </div>
                            <div class="blog-content">
                                <h3 class="blog-title"><a href="{% url 'app_core:services_view' service.id %}">{{service.title}}</a></h3>
                                <div class="blog-desc">
                                    {{ service.description|truncatechars:450|safe }}
                                </div>
                                <div class="blog-button inner-btn">
                                    <a class="blog-btn" href="{% url 'app_core:services_view' service.id %}">Continue Reading</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}

                </div>
            </div>
        
        </div> 
    </div>
</div>
<!-- Blog Section End --> 